.empty-cart {
    font-size: 18px;
    display: block;
    text-align: center;
    padding: 15px;
    background-color: rgb(255, 220, 220);
}
.item-add-form {
    width: 30px;
    margin-right: 20px;
}
.cart-quantity {
    width: 30px;
    text-align: center;
    margin-right: 20px;
}
.btn {
    margin-right: 20px;
}
.btn-danger, .btn-success {
    padding: 0;
    border: none;
    width: 35px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}